<section class="error--section">
    <div class="error--div">
        <h1 class="error--title">404</h1>

        <p class="error--p1">Uh-oh!</p>

        <p class="error--p2">We can't find that page.</p>

        <a href="/" class="error--link"> Go Back Home </a>
    </div>
</section>

<style >
    .error--section {
        display: grid;
        padding-left: 1rem;
        padding-right: 1rem;
        place-content: center;
        height: 100vh;
        background-color: rgb(17 24 39);
    }
    .error--div {
        text-align: center;
        .error--title {
            font-size: 8rem;
            line-height: 1;
            font-weight: 900;
            color: #e5e7eb;
        }
        .error--p1 {
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 700;
            letter-spacing: -0.025em;
            color: #747577;
            @media (min-width: 64rem) {
                font-size: 2.25rem;
                line-height: 2.5rem;
            }
        }

        .error--p2 {
            margin-top: 1rem;
            color: #6b7280;
        }
        .error--link {
            display: inline-block;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            margin-top: 1.5rem;
            border-radius: 0.25rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-weight: 500;
            color: #ffffff;
            background-color: #4f46e5;
        }
        .error--link:hover {
            background-color: #4338ca;
        }
    }
</style>
