---
import Social from "./Social.astro";
---

<section>
	<footer class="bg-gray-100 dark:bg-gray-900">
		<div class="mx-auto max-w-5xl px-4 py-16 sm:px-6 lg:px-8">
			<div class="footer--logo">
				<img
					src="https://miro.medium.com/v2/resize:fit:1400/1*nLbfO_PdTSpeCdZQuUr8RQ.png"
					alt="logo"
				/>
				<p class="">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit.
					Incidunt consequuntur amet culpa cum itaque neque.
				</p>
			</div>
			<ul class="">
				<li>
					<a class="" href="#"> About </a>
				</li>

				<li>
					<a class="" href="#"> Careers </a>
				</li>

				<li>
					<a class="" href="#"> Behance </a>
				</li>

				<li>
					<a class="" href="#"> Services </a>
				</li>

				<li>
					<a class="" href="#"> Projects </a>
				</li>

				<li>
					<a class="" href="#"> Blog </a>
				</li>
			</ul>
			<Social />
		</div>
	</footer>
</section>

<style>
	footer {
		display: flex;
		flex-direction: column;
		margin: 4rem 0;
	}
	.footer--logo {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 2rem 0;
	}
	img {
		width: 10rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	p {
		margin-top: 1.5rem;
		max-width: 28rem;
		line-height: 1.625;
		text-align: center;
		color: #6b7280;
	}
	ul {
		display: flex;
		align-items: center;
		justify-content: center;
		justify-self: center;
		column-gap: 3rem;
		color: aliceblue;
		font-size: 1.5rem;
		list-style: none;
		margin: 3rem 0;
	}
	a {
		color: #374151;
	}
	a:hover {
		color: brown;
	}
</style>
