<section>
    <aside>
        <img
            src="https://miro.medium.com/v2/resize:fit:1400/1*nLbfO_PdTSpeCdZQuUr8RQ.png"
            alt="Foto Perfil"
        />
        <a href="/" target="_blank" rel="noopener noreferrer">
            <span class="">Santiago Bouissa</span>
        </a>
    </aside>
    <aside>
        <ul>
            <a href="/">Sobre mí</a>
            <a href="/Logros">Logros</a>
            <a href="/Contact">Contactame</a>
        </ul>
    </aside>
    <aside>
        <img
            src="https://miro.medium.com/v2/resize:fit:1400/1*nLbfO_PdTSpeCdZQuUr8RQ.png"
            alt="modo oscuro (TODO)"
        />
    </aside>
</section>

<style>
    section {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        justify-content: space-around;
        padding: 1.5rem;
        position: fixed;
        z-index: 10;
        width: 100%;
        color: #dad7d7;
        background: linear-gradient(
            rgba(29, 43, 51, 0.66),
            rgba(13, 39, 112, 0.33)
        );
    }
    section:hover {
        transition-duration: 1s;
        background-color: rgb(1, 5, 58);
    }
    aside {
        display: flex;
        align-items: center;
        column-gap: 1.5rem;
        row-gap: 3rem;
    }
    img {
        width: 3rem;
        border-radius: 50%;
    }
    a {
        padding: 0 2rem;
        color: #dad7d7;
        text-decoration: none;
    }

    a:hover {
        transition: 0.5s;
        color: brown;
    }
</style>
