<section>
	<aside>
		<h1 class="">Soy Santiago Bouissa</h1>
		<span>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
			nobis autem nisi tenetur possimus reiciendis sunt molestias rerum
			natus quis corrupti non doloribus ex eligendi debitis iure, quos,
			quia fugit!
		</span>
	</aside>
	<aside>
		<img
			src="/412621575_1822080608222861_8565526787523973390_n.png"
			alt="Foto Perfil"
		/>
	</aside>
</section>

<style>
	section {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 calc(100% - 95%);
		background-color: #23262d;
		border-radius: 0 0 8px 8px;
		color: #c9cdd6;
		height: 90vh;
	}
	aside {
		padding: 2rem;
	}
	h1 {
		font-size: 2rem;
	}
	span {
		max-width: 50rem;
		display: inline-block;
		font-size: 2rem;
	}
	img {
		border-radius: 50%;
		width: 40rem;
	}
</style>
